include README.md
include LICENSE
include pyproject.toml
recursive-include src/xiangxinai *.py
recursive-include src/xiangxinai py.typed
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *